{{define "Edit"}}

{{template "_head"}}

<body>
    {{template "_menu"}}

    <div class="container">
        <div class="mb-2 mt-4 p-5 text-white bg-secondary rounded">
            <div class="container">
                <h1 class="display-5">Editando produto</h1>
                <p class="lead">Insira os dados para atualizar ou editar</p>
            </div>
        </div>
        <form method="POST" action="update">
            <input type="hidden" name="id" value="{{.Id}}"/>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" class="form-control" value="{{.Name}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <input type="text" name="description" class="form-control"  value="{{.Description}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="price">Preço:</label>
                        <input type="number" name="price" class="form-control" step="0.01"  value="{{.Price}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantity">Quantidade:</label>
                        <input type="number" name="quantity" class="form-control"  value="{{.Quantity}}">
                    </div>
                </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success  mt-2">Atualizar</button>
            <a class="btn btn-info mt-2" href="/">Voltar</a>
        </form>
    </div>

</body>

</html>

{{end}}